@import "../node_modules/bootstrap/scss/bootstrap";

// Imagenes
$imagen-carrousel: 250px;
$imagen-cart: 100px;

.id_admin { 
    width: 25px;
}

.imgHead { 
    object-fit: contain;
}

.imagenCarrito {
    width: $imagen-cart;
    height: $imagen-cart;
}

.imagenProducto, .imagenProducto2 { 
    max-height: $imagen-carrousel;
    min-width: $imagen-carrousel;
    max-width: $imagen-carrousel;

}

.signoMenos, .signoMas {
    cursor: pointer;
}

#btnLogout { 
    display: none;
}

#footer { 
    min-height: calc(100vh - 200px - 350px);
}

#navBar { 
    margin-bottom: 10vh;
}
