@import "../node_modules/bootstrap/scss/bootstrap";

// Imagenes
$imagen-carrousel: 250px;
$imagen-cart: 100px;

.id_admin {
  width: 25px;
}

.imgHead {
  object-fit: contain;
}

.imagenProducto,
.imagenProducto2 {
  max-height: $imagen-carrousel;
  min-width: $imagen-carrousel;
  max-width: $imagen-carrousel;
}

.main {
  height: 90vh;
}

.mas,
.menos {
  padding: 0.3rem;
  border-color: none;
}

#btnLogout {
  display: none;
}

#footer {
  min-height: calc(100vh - 200px - 350px);
}

#navBar {
  margin-bottom: 10vh;
}

.cantidadCarrito {
  font-weight: 300;
}
